@tailwind base;
@tailwind components;
@tailwind utilities;

.profileBg {
    background-color: #818FB4;
    height: 100%;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform:  translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInCarousel {
    from {
        padding: 160;
        width: 0;
        background: #00000050;
    }

    to {
        padding: 0;
        width: 160;
        background: #ffffff;
    }
}